torch
torchvision~=0.18.1
torchmetrics~=1.4.0.post0
pytorch-lightning
scikit-learn~=1.4.2
pyyaml~=6.0.1
numpy~=1.23.5
duckdb~=1.0.0
numba~=0.59.1
pandas~=2.2.2
matplotlib~=3.8.4
geopandas~=0.14.2
xgboost~=2.0.3
tqdm~=4.66.4
schedulefree~=1.2.7
GDAL
PyQt5